<div ng-init="loadLocationTab(false)"> <div>
<a><strong><span class="glyphicon glyphicon-map-marker"></span>&nbsp;Sensor Location</strong></a>
<a title="Add Widget" data-toggle="modal" ng-click="loadLocationTab(true)"
   class="btn btn-primary pull-right"><span class="glyphicon glyphicon-refresh"></span></a>

<hr>

<div ng-if="!isMapLoaded" class="col-md-10 col-md-offset-5">
  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate bigger"></span>
</div>

<div ng-if="isMapLoaded">

  <ui-gmap-google-map center='map.center' zoom='map.zoom'>

    <ui-gmap-marker data-ng-repeat="sensor in sensors" idkey="sensor.sensorId" coords="sensor"
                     options="animation" >
      <ui-gmap-window show="clickedMarkerSensor==sensor.sensorId" ng-cloak>
        <div>
          <h5>Sensor {{sensor.sensorId}}</h5> <br>
          Latitude: {{sensor.latitude}}<br>
          Longitude: {{sensor.longitude}}<br>
          mac: {{sensor.mac}}<br>
          Gateway Id: {{sensor.gatewayId.gatewayId}}<br><br>
          <p><button title="Access to sensor's statistics" type="button" class="btn btn-default" ng-click='$parent.goToStatistics("{{sensor.sensorId}}")'><i class="glyphicon glyphicon-stats"></i></button>
          <button title="Access to sensor's alarms"type="button" class="btn btn-default" ng-click='$parent.goToAlarms("{{sensor.sensorId}}")'><i class="glyphicon glyphicon-bell"></i></button></p>
        </div>
      </ui-gmap-window>

    </ui-gmap-marker>

    <ui-gmap-marker data-ng-repeat="gateway in gatewayList" idkey="gateway.gatewayId" coords="gateway"
                    options="animation" icon="icon">
      <ui-gmap-window show="clickedMarkerGateway==gateway.gatewayId" ng-cloak>
        <div>
          <h5>Gateway {{gateway.gatewayId}}</h5> <br>
          Latitude: {{gateway.latitude}}<br>
          Longitude: {{gateway.longitude}}<br>
          mac: {{gateway.mac}}<br><br>

        </div>
      </ui-gmap-window>

    </ui-gmap-marker>


  </ui-gmap-google-map>

  <div class="row spacer"></div>

  <accordion>
    <accordion-group is-open="status.openGateway">
      <accordion-heading>
        Gateway List <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openGateway, 'glyphicon-chevron-right': !status.openGateway}"></i>
      </accordion-heading>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>Gateway id</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>mac</th>
            <th>Last Update</th>


          </tr>
          </thead>
          <tbody ng-repeat="gateway in gatewayList.slice(((currentPageGateway-1)*numPerPage), ((currentPageGateway)*numPerPage))"
                 ng-click="goToMarkerGateway(gateway.latitude, gateway.longitude, gateway.gatewayId, false)">
          <tr>
            <td>{{gateway.gatewayId}}</td>
            <td>{{gateway.latitude}}</td>
            <td>{{gateway.longitude}}</td>
            <td>{{gateway.mac}}</td>
            <td>{{gateway.updateDate | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</td>


          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <pagination
                ng-model="currentPageGateway"
                total-items="gatewayList.length"
                items-per-page = "numPerPage"
                boundary-links="true"
                class="pagination-sm">
              </pagination>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </accordion-group>
  </accordion>

  <accordion>


  <accordion-group is-open="status.openSensor">
    <accordion-heading>
     <stronng>Sensor List</stronng> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openSensor, 'glyphicon-chevron-right': !status.openSensor}"></i>
    </accordion-heading>
   <div class="row">
           <div class="col-md-3 pull-right">
             <select class="form-control" ng-model="selectedSortType" ng-change="changeSortCombo(selectedSortType)" ng-options="sortType.name for sortType in sortTypes"></select>
      </div>
    </div>
         <div class="table-responsive">
          <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>Sensor id</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>mac</th>
            <th>Last Update</th>
            <th>Gateway</th>


          </tr>
          </thead>
          <tbody ng-repeat="sensor in sensors.slice(((currentPageSensor-1)*numPerPage), ((currentPageSensor)*numPerPage))"
                 ng-click="goToMarker(sensor.latitude, sensor.longitude, sensor.sensorId)">
          <tr>
            <td>{{sensor.sensorId}}</td>
            <td>{{sensor.latitude}}</td>
            <td>{{sensor.longitude}}</td>
            <td>{{sensor.mac}}</td>
            <td>{{sensor.updateDate | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</td>
            <td><button type="button" title="Locate sensor's Gateway" class="btn btn-default" ng-click="goToMarkerGateway(sensor.gatewayId.latitude, sensor.gatewayId.longitude, sensor.gatewayId.gatewayId, true)">{{sensor.gatewayId.gatewayId}}</button></td>
            <td><button type="button"title="Access to sensor's statistics" class="btn btn-default" ng-click="goToStatistics(sensor.sensorId)"><i class="glyphicon glyphicon-stats"></i></button></td>
            <td><button type="button"title="Access to sensor's alarms" class="btn btn-default" ng-click="goToAlarms(sensor.sensorId)"><i class="glyphicon glyphicon-bell"></i></button></td>

          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <pagination
                ng-model="currentPageSensor"
                total-items="sensors.length"
                items-per-page = "numPerPageSensor"
                boundary-links="true"
                class="pagination-sm">
              </pagination>
            </td>
          </tr>
          </tfoot>
          </table>
        </div>
        </accordion-group>
  </accordion>

</div>
