<div ng-init="loadCombos()" ng-cloak> <div>
  <a><strong><span class="glyphicon glyphicon-stats"></span>&nbsp;Stadistics</strong></a>

  <hr>
  <div class="panel panel-default">
    <div class="panel-body">
  <div class="row">
  <div class="col-md-5">
    <strong>Node</strong>
    <p class="input-group">
    <select class="form-control" ng-model="selectedNode" ng-change="changeSensorCombo()" ng-options="sensor.sensorId for sensor in sensors"><option> </option></select>
      <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="viewMap()"><i class="glyphicon glyphicon-map-marker"></i></button>
      </span>
       <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-bell"></i></button>
      </span>
       <span class="input-group-btn" ng-show="severalSensors">
      <button type="button" class="btn btn-default" ng-click="multipleSensors()"><i class="glyphicon glyphicon-plus"></i></button>
      </span>
    </p>
  </div>

    <div class="col-md-5">
      <strong>Measurement type</strong>
      <select class="form-control" ng-model="selectedMeasurement" ng-change="changeMeasurementCombo()" ng-options="measurementType.name for measurementType in measurementTypes"><option> </option></select>
    </div>
    <div class="col-md-1">
      <strong>multiple</strong>
      <input type="checkbox" value="false"  ng-model="severalSensors" ng-click = 'multipleSensors()'>
    </div>
      </div>

   <div class="row">

     <div class="col-md-5">
       <strong>Period</strong>
       <select class="form-control" ng-model="selectedPeriodType" ng-change="changePeriodCombo()" ng-options="periodType.name for periodType in periodTypes"><option> </option></select>
     </div>

     <div class="col-md-5" ng-show="dateSelection">
       <strong>From</strong>
       <p class="input-group">
         <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="fromDate" is-open="openedFrom"  datepicker-options="dateOptions" ng-change="selectDate()" ng-required="true" show-button-bar="false" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
       </p>
       <strong>To</strong>
       <p class="input-group">
         <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="toDate" is-open="openedTo"  datepicker-options="dateOptions" ng-change="selectDate()" ng-required="true" show-button-bar="false"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
       </p>
     </div>
  </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">

  <div google-chart chart="chartObject" style="height:700px; width:900px"></div>

    </div>
  </div>
