<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../entomaticon.ico">

  <title>Entomatic Home Page</title>

  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/loginStyle.css">

  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.js"></script>
  <script src="/js/public/login/LoginModule.js"></script>
  <script src="/js/public/login/LoginController.js"></script>

</head>

<body ng-app="LoginModule" ng-controller="LoginController" ng-cloak>

<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">
        <form ng-submit="submitLoginForm()" role="login">

         <img src="/images/ent1.png" class="img-responsive" alt="" />
          <input ng-model="loginForm.user" type="text" placeholder="User" name="user" class="form-control" ng-click="disableWarning()" >
          <input ng-model="loginForm.password" type="password" placeholder="Password" name="password" class="form-control" ng-click="disableWarning()" ng-change="disableWarning()" >
          <div ng-show="loginForm.userValidation" class="alert alert-danger" role="alert">
            <span ng-show="loginForm.userValidation" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span ng-show="loginForm.userValidation" class="sr-only">Error:</span>
            Wrong user or/and password
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">
            <span ng-show="!loginForm.loading">Sign in</span>
            <span ng-show="loginForm.loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            <span ng-show="loginForm.loading">Signing in...</span>
          </button>
          <div>
           <a href="#">Problems with your user?</a>
          </div>
        </form>

        <div class="form-links">
          <a href="#">Entomatic 2015</a>
        </div>
      </section>
    </div>

    <div class="col-md-4"></div>


  </div>



</div>


</body>
</html>
